// Colors
$teal: #244;
$even-line-color: #e0f8f8;
$odd-line-color: #f8b0f8;

.products {
  table {
    border-collapse: collapse;

    tr td {
      padding: 5px;
      vertical-align: top;
    }
  }

  .list-image {
    height: 70px;
    width: 60px;
  }

  .list-description {
    width: 60%;

    dl,
    dl {
      margin: 0;
    }

    dt {
      color: $teal;
      font-size: larger;
      font-weight: bold;
    }
  }

  .list-actions {
    font-size: x-small;
    padding-left: 1em;
    text-align: right;
  }

  .list-line-even {
    background-color: $even-line-color;
  }

  .list-line-odd {
    background-color: $odd-line-color;
  }
}
